* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-image: url(pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  width: 65vw;

  float: right;
  background-color: black;
}

.wd {
  margin-top: 2vw;
  margin-left: 2vw;
  width: 15vw;
  height: 60vh;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  z-index: 2;
}

.wd h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 1vw;
}

.wd h2 {
  text-transform: uppercase;
  font-weight: 0.3vw;
  margin-bottom: 10vw;
}

.karta {
    position: relative;
    display: flex;
    margin-top: 3vh;
    margin-left: 20vw;
}

.resp-iframe {
    flex: 0 0 auto;
    margin-right: 20vw;
}

.box ul li {
  width: 20vw;
  float: left;
  margin: 1vw auto;
  text-align: center;
  z-index: 1;
  list-style-type: none;
}
.box ul li a {
  text-decoration: none;
  color: darkgrey;
}

.box ul li:hover {
  background-color: green;
}
.box ul li a:hover {
  color: white;
}
